# Data Types

* None
    * NoneType
* Numeric
    * int
    * float
    * complex
    * bool
* Sequence
    * list
    * tuple
    * set
    * str
    * range
* Dictionary
    * dict

## None

### NoneType

In [1]:
a = None
a

In [2]:
type(a)

NoneType

## Numeric

### int

In [3]:
i = 25
i

25

In [4]:
type(i)

int

### float

In [5]:
f = 34.2356
f

34.2356

In [6]:
type(f)

float

### complex

In [7]:
c = 5 + 6j
c

(5+6j)

In [8]:
type(c)

complex

### bool

In [9]:
5 < 6

True

In [10]:
5 > 6

False

In [11]:
a = 5 < 6
a

True

In [12]:
type(a)

bool

### Converting Numeric Types

In [13]:
a = 5.6
b = int(a) # float to int
b

5

In [14]:
a = 5
b = float(a) # int ot float
b

5.0

In [15]:
a = 5
b = 6
c = complex(a, b)
c

(5+6j)

In [16]:
a = True
b = int(a) # bool to int
print(b)
a = False
b = int(a)
print(b)

1
0

## Sequence

### list

In [17]:
lt = [25, 36, 45, 12]
type(lt)

list

### tuple

In [18]:
tp = (25, 36, 45, 12)
type(tp)

tuple

### set

In [19]:
st = {24, 25, 24, 23, 12, 53}
print(st)
type(st)

{53, 23, 24, 25, 12}

set

### str

In [20]:
sr = "shihab"
type(sr)

str

### range

In [21]:
rg = range(10)
type(rg)

range

In [22]:
list(rg)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(2, 10, 2))

[2, 4, 6, 8]

## Dictionary

### dict

In [24]:
dct = {"navin":"samsung", "rahul":"Iphone", "Kiran":"Oneplues"}
type(dct)

dict

In [25]:
dct

{'navin': 'samsung', 'rahul': 'Iphone', 'Kiran': 'Oneplues'}

In [26]:
dct.keys()

dict_keys(['navin', 'rahul', 'Kiran'])

In [27]:
dct.values()

dict_values(['samsung', 'Iphone', 'Oneplues'])

In [28]:
dct["rahul"]

'Iphone'

In [29]:
dct.get("rahul")

'Iphone'